html {
    overflow-y: hidden;
    background-color: #f9f9f9;
    ;
}

body {
    overflow-x: hidden;
    overflow: hidden;
}

.title.is-4 {
    padding-bottom: 4rem;
    font-family: 'Concert One', cursive;
}

.container {
    padding: 40px;
}

.column {
    padding: 0px;
}

.column.is-6 {
    padding: 30px;
}

.input {
    background-color: #E0E5EC;
}

.buttons {
    margin-top: 4rem;
}

#signIn {
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #c36a2d;
}

#facebook {
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
    height: 100%;
}

#signUp {
    position: absolute;
    top: 65%;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: transparent;
    border-color: #ffffff;
    border-width: 2px;
    color: white;
}

#signUp:hover {
    position: absolute;
    top: 65%;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: white;
    border-color: #cccccc;
    border-width: 2px;
    color: black;
}

#first-paragraph {
    position: absolute;
    top: 30%;
    margin-left: 7rem;
    color: white;
    font-family: 'Concert One', cursive;
}

#second-paragraph {
    position: fixed;
    top: 40%;
    margin-left: 7rem;
    color: white;
    display: block;
    font-family: 'Concert One', cursive;
}