html {
    background-color: #f2f2f2;
}

.navbar {
    background-color: #f2f2f2;
}

#navbarBasicExample {
    background-color: #f2f2f2;
}

/* Remove Navbar hover color - START */
.navbar-item,
.navbar-link a:hover {
    background-color: transparent;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
    background-color: transparent;
}

.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
}

.title.is-3{
    padding-top: 1em;
    font-family: 'Bree Serif', serif;

}

.subtitle{
    padding-top: 1em;
    font-size: 0.9em;
    padding-bottom: 3em;
}

/* END */

.input,
.textarea,
.select select {
    border-color: transparent;
}


.box {
    background-color: #f2f2f2;
    border-radius: 9px;
    box-shadow: -7px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-top: 5em;
}

.cards-with-icons {
    margin-top: 2em;
    margin-bottom: 8em;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #f2f2f2;
    box-shadow: inset 0px 4px 45px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
    box-shadow: inset 0px 4px 45px rgba(0, 0, 0, 0.15);
}

.footer {
    background-color: #f2f2f2;
}

#behance {
    color: #053eff;
    padding-right: 1em;
}

#dribbble {
    color: #ea4c89;
    padding-right: 1em;
}

#github {
    color: #21262c;
}