html {
    background-color: #3a3a3a;
}

.navbar {
    background-color: #3a3a3a;
}

a.navbar-item,
.navbar-link {
    color: white;
}

#navbarBasicExample {
    background-color: #3a3a3a;
}

/* Remove Navbar hover color - START */
.navbar-item,
.navbar-link a:hover {
    background-color: transparent;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
    background-color: transparent;
}

.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
}

.title.is-3 {
    padding-top: 1em;
    font-family: 'Bree Serif', serif;
    color: white;

}

.subtitle {
    padding-top: 1em;
    font-size: 0.9em;
    padding-bottom: 3em;
    color: #f0efef;
}

/* END */

.input,
.textarea,
.select select {
    border-color: transparent;
}


.box {
    background-color: #3a3a3a;
    border-radius: 9px;
    box-shadow: 5px 5px 20px #282828, -5px -5px 20px #4c4c4c;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-top: 5em;
}

.input, .textarea {
    box-shadow: 5px 5px 20px #282828, -5px -5px 20px #4c4c4c;
    max-width: 100%;
    width: 100%;
    outline: none;
}

.input, .textarea, .select select {
    background-color: #3a3a3a;
    border-color: transparent;
    border-radius: 4px;
    color: white;
}

.input::placeholder{
    color: white;
}
.control::placeholder{
    color: white;
}
.cards-with-icons {
    margin-top: 2em;
    margin-bottom: 8em;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    box-shadow: inset 0px 4px 45px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #838383;
    box-shadow: inset 0px 4px 45px rgba(0, 0, 0, 0.15);
}

.footer {
    background-color: #3a3a3a;
    color: white;
}

strong {
    color: #d8d8d8;
}

#behance {
    color: #053eff;
    padding-right: 1em;
}

#dribbble {
    color: #ea4c89;
    padding-right: 1em;
}

#github {
    color: #21262c;
}