.navbar {
    box-shadow: -1px -3px 10px #b6b6b6;
}

.title.is-3 {
    font-family: 'Concert One', cursive;
    padding-bottom: 3rem;
}

.subtitle {
    font-family: 'Baloo Tammudu 2', cursive;
}

.image img {
    width: 126px;
    height: 180px;
    border-radius: 37% 20% 57% 12% / 54% 52% 36% 31%;
    padding: 4px;
}

.container {
    margin-top: 4rem;
}

.bg {
    background-color: #a6b1e1;
    border-radius: 31% 27% 77% 9% / 52% 35% 33% 44%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    20% {
        background-color: #cff1ef;
        border-radius: 30% 20% 60% 10% / 50% 50% 40% 30%;
    }

    50% {
        background-color: #79bac1;
        border-radius: 60% 60% 50% 40% / 40% 30% 70% 20%;
    }

    80% {
        background-color: #98d6ea;
        border-radius: 40% 30% 70% 20% / 60% 60% 50% 40%;
    }
}

.email-Field {
    border-style: solid;
    border-color: #ffffff;
    border-width: 8px;
    box-shadow: 1px 4px 10px #e3e2e2;
    border-radius: 290486px;
    width: fit-content;
    font-family: 'Concert One', cursive;
    margin-top: 4rem;
    margin-bottom: 8rem;
}